################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqlTableDiff/bin/Debug
/SqlTableDiff/obj/x86
/.vs
